body {
  background-image: linear-gradient(to right, aqua, rgb(56, 56, 255));
}
.main {
  text-align: center;
  padding-top: 50px;
}
#inp{
  position: relative;
}

#inp input {
  width: 50%;
  height: 35px;
  border: none;
  border-radius: 3px;
  font-size: 25px;
  padding: 10px 20px;
}

#inp button {
  height: 55px;
  width: 70px;
  border: none;
  background-color: #e4e4e4;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  left: -7px;
  bottom: -5px;
  box-sizing: none;
}
p {
  position: relative;
  font-size: 20px;
  line-height: 15px;
  color: #333;
  background-color: whitesmoke;
  display: block;
  padding: 15px 30px;
  margin: 20px 50px;
  text-align: left;
}

p > span {
  border: none;
  font-size: 20px;
  float: right;
  margin-right: 25px;
  cursor: pointer;
}

#inp input:focus, #inp button {
  outline: none;
}
